html,body{margin:0;padding:0; background:#ffffff;}
body{font: 76% verdana,arial,sans-serif;  color: #003385;}
p{margin:0 10px 10px}

h1 {font: 15pt verdana,arial,sans-serif; text-align:center; color: #003399; font-weight:bold; margin:0px; padding:0px;}
h2 {font: 14pt verdana,arial,sans-serif; text-align:center; color: #ff580d; font-weight:bold; margin:0px; padding:0px;}
h3 {font: 11pt verdana,arial,sans-serif; text-align:center; color: #003399; font-weight:bold; margin:0px; padding:0px;}
h4 {font: 11pt verdana,arial,sans-serif; color: #ffffff; font-weight:bold; text-shadow: 0.1em 0.1em 0.05em #1d3139; margin:0px; padding:0px;}
h5 {font: 11pt verdana,arial,sans-serif; color: #f16522; font-weight:bold; margin:0px 0px 0px 10px; padding:0px;}

a {color:#ff6600; text-decoration:none;}
a:hover {text-decoration:underline;}

a.blue {color:#003399; text-decoration:underline;}
a.blue:hover {color:#ffffff; text-decoration:none; background:#003399;}

a.external {color:#ff6600; text-decoration:none; border-bottom:1px dotted #ff6600; cursor:pointer;}
a.external:hover {text-decoration:underline; border-style:none;}
img {border: 0px;}

#container{text-align:left; width:1061px; height:650px; margin:0 left; background-image:url('../images/bg.jpg'); background-repeat:no-repeat; padding-top:100px;}
#content p, #content{line-height:1.2;}
#navigation{position:absolute; top:110px; left:-20px; z-index:4;}
#footer{color: #003385; clear:both; width:951px; position:absolute; top:571px; padding:50px 80px 0px 10px;}
#content{position:absolute; top:145px; left:400px; width:595px; height:280px; overflow:hidden;}

#footer #description {margin:0px 220px 0px 270px;}
#footer #copyright {float:left;}
#footer #logo {float:right; margin-top:-40px;}
#footer a {font-weight:bold; color:#003385;}

#searchbox {position:absolute; top:2px; left:470px;}
#searchbox input {border: 0px none rgb(255,255,255); font-size:8pt; width:200px; background:#ffffff;}
#searchbox a {font-weight:bold; color:#0099d8; text-decoration:none;}

#topbar {position:absolute; top:30px; left:13px; z-index:3; font-weight:bold; color:#FFFFFF;}
#topbar a {color:#99ccff; text-decoration:none;}
#topbar a:hover {color:#ffffff; text-decoration:none;}
#topbar div {display:inline;}
#topbar img {border-style:none;}
#topbar #language {position:relative; top:-2px;}
#topbar #icons{margin-left:30px;}
#topbar #breadcrumb{margin-left:22px; position:relative; top:-5px;}
#topbar #members {position:absolute; top:2px; left:730px;width:120px;}
#topbar #level {position:absolute; top:2px; left:885px; color:#ffffff; text-align:center; width:130px;}

#patch_top {position:absolute; top:91px; left:286px; z-index:2; background-image:url('../images/title_patch_top.png'); background-repeat:no-repeat; width:687px; height:29px;}
#patch_bottom {position:absolute; top:477px; left:324px; z-index:2; background-image:url('../images/title_patch_bottom.png'); background-repeat:no-repeat; width:659px; height:27px;}
#patch_resources {position:absolute; top:504px; left:580px; z-index:2; background-image:url('../images/patch_resources.jpg'); background-repeat:no-repeat; width:397px; height:94px;}

#levels {position:absolute; top:0px; left:938px; width:96px;}
#levels img {border-style:none; margin:0px -3px;}

#logo_1 {position:absolute; top:0px; left:15px; z-index:6;}
#logo_2 {position:absolute; top:267px; left:3px; z-index:6;}
#logo_1 img, #logo_2 img {border-style:none;}

#mainmenu a {font-weight:bold; text-decoration:none; color:#0c4799; margin:0px; padding:0px;}
#mainmenu a:hover {color:#ef4908;}
#mainmenu li.selected  a {color:#ff6600;}
#mainmenu li {list-style-type:none; margin:35px 0px;}
#mainmenu #item_01 {position:relative; left:0px;}
#mainmenu #item_02 {position:relative; left:47px;}
#mainmenu #item_03 {position:relative; left:103px;}
#mainmenu #item_04 {position:relative; left:117px;}
#mainmenu #item_05 {position:relative; left:113px;}
#mainmenu #item_06 {position:relative; left:80px;}
#mainmenu #item_07 {position:relative; left:40px;}
#mainmenu #item_08 {position:relative; left:0px; top:-19px}

#m01, #m02, #m03, #m04, #m05, #m06, #m07, #m08  {z-index:5; width:12px; height:12px;}
#m01 {position:absolute; top:200px; left:15px;}
#m02 {position:absolute; top:216px; left:60px;}
#m03 {position:absolute; top:250px; left:100px;}
#m04 {position:absolute; top:308px; left:120px;}
#m05 {position:absolute; top:343px; left:116px;}
#m06 {position:absolute; top:391px; left:95px;}
#m07 {position:absolute; top:423px; left:60px;}
#m08 {position:absolute; top:440px; left:15px;}

#submenu10 {position:absolute; top:95px; left:150px; z-index:3; margin:0px; padding:0px;}
#submenu10 a {font-weight:bold; text-decoration:none; color:#0173ba;}
#submenu10 a:hover {color:#ff3300;}
#submenu10 li.selected  a{color:#ff3300;}
#submenu10 li {list-style-type:none; margin:24px 0px;}
#submenu10 li.selected {list-style-image: url('../images/bullet_menu.png');}
#submenu10 #item_01 {position:relative; left:-45px;}
#submenu10 #item_02 {position:relative; left:10px;}
#submenu10 #item_03 {position:relative; left:47px;}
#submenu10 #item_04 {position:relative; left:66px;}
#submenu10 #item_05 {position:relative; left:79px;}
#submenu10 #item_06 {position:relative; left:85px;}
#submenu10 #item_07 {position:relative; left:78px;}
#submenu10 #item_08 {position:relative; left:65px;}
#submenu10 #item_09 {position:relative; left:42px;}
#submenu10 #item_10 {position:relative; left:6px;}

#submenu6 {position:absolute; top:100px; left:190px; z-index:3; margin:0px; padding:0px;}
#submenu6 a {font-weight:bold; text-decoration:none; color:#0173ba;}
#submenu6 a:hover {color:#ff3300;}
#submenu6 li.selected  a{color:#ff3300;}
#submenu6 li {list-style-type:none; margin:45px 0px;}
#submenu6 li.selected {list-style-image: url('../images/bullet_menu.png');}
#submenu6 #item_01 {position:relative; left:-45px;}
#submenu6 #item_02 {position:relative; left:10px;}
#submenu6 #item_03 {position:relative; left:37px;}
#submenu6 #item_04 {position:relative; left:44px;}
#submenu6 #item_05 {position:relative; left:32px;}
#submenu6 #item_06 {position:relative; left:-13px;}

#submenu3 {position:absolute; top:140px; left:203px; z-index:3; margin:0px; padding:0px;}
#submenu3 a {font-weight:bold; text-decoration:none; color:#0173ba;}
#submenu3 a:hover {color:#ff3300;}
#submenu3 li.selected  a{color:#ff3300;}
#submenu3 li {list-style-type:none; margin:65px 0px;}
#submenu3 li.selected {list-style-image: url('../images/bullet_menu.png');}
#submenu3 #item_01 {position:relative; left:0px;}
#submenu3 #item_02 {position:relative; left:30px;}
#submenu3 #item_03 {position:relative; left:28px;}

#do {list-style-type:none; position:absolute; top:520px; left:-25px;}
#do li {display:inline; float:left; margin:0px; padding:0px; text-align:center; width:55px;}
#do img {border-style:none; margin-bottom:-8px;}
#do a {font-size:7pt; font-weight:bold; text-decoration:none; color:#0c4799; text-decoration:none;}
#do a:hover {color:#ef4908;}

#photo_right {float:right; margin-left:15px; margin-bottom:3px;margin-top:20px;}

#photomask {position:absolute; top:161px; left:980px; z-index:6; width:63px; height:314px; background-image:url('../images/photo_mask.png'); background-repeat: no-repeat;}
#photomask_left {position:absolute; top:161px; left:311px; z-index:2; width:70px; height:314px; background-image:url('../images/photo_mask_left.png'); background-repeat: no-repeat;}

#homephoto {width:660px; height:288px; overflow:hidden; z-index:0; position:absolute; top:174px; left:340px;}

#h1_wrapper_home0 {position:absolute; top:60px; left:360px; z-index:3; width:600px;}
#h2_wrapper {position:absolute; top:63px; left:230px; z-index:3; width:600px;}
#h3_wrapper {position:absolute; top:60px; left:400px; z-index:3; width:600px;}
#h4_wrapper {position:absolute; top:96px; left:410px; z-index:3;}
#h2_wrapper_home {position:absolute; top:95px; left:400px; z-index:3; width:600px;}
#h4_wrapper_home {position:absolute; top:136px; left:410px; z-index:3; width:550px;}
#h4_wrapper_home h4 {text-align:center;}

#progressbar {width:613px; position:absolute; top:455px; left:371px; font:8pt verdana,arial,sans-serif;  color: #bbb; font-weight:bold;}
#progressbar img {border-style:none;}
#progressbar #bullet {position:relative; top:-13px; left:35px;}
#progressbar #bullet_page {position:absolute; top:-330px; left:545px;}
#progressbar #next {position:relative; top:-39px; margin-left:585px; z-index:3;}
#progressbar #previous {position:relative; top:-55px; left:0px; z-index:3;}
#progressbar a {font: 8pt verdana,arial,sans-serif;  color: #ff9261; font-weight:bold; text-decoration:none;}

#view {width:565px; height:15px; position:absolute; top:428px; left:410px; font:8pt verdana,arial,sans-serif;  color: #bbb; font-weight:bold;}
#view a {font: 9pt verdana,arial,sans-serif; font-weight:bold; text-decoration:none; position:relative; top:-3px;}
#view img {margin-left:20px;}

#resources {list-style-type:none; position:absolute; top:476px; left:327px; z-index:3; width:655px; color:#003399; font-weight:bold; font-size:11pt; margin:0px; padding:0px;}
#resources li {display:inline; float:left; margin:0px; padding:0px; width:115px; height:26px; text-align:center;}
#resources_home {list-style-type:none; position:absolute; top:476px; left:327px; z-index:3; width:655px; color:#003399; font-weight:bold; font-size:11pt; margin:0px; padding:0px;}
#resources_home li {display:inline; float:left; margin:0px; padding:0px; width:154px; height:26px; text-align:center;}
#resources a {color:#003399; text-decoration:none; position:relative; top:3px;}
#resources a:hover {color:#fff;}
#resources li.selected {background-image:url('../images/res_selected.png'); background-repeat:no-repeat;}
#resources li.selected a {color:#fff;}
#resources #title {width:193px; position:relative; top:3px;}
.title_sel {width:193px; position:relative; top:3px; color:#cc3300; font-weight:bold; font-size:11pt;}

#resources_home {list-style-type:none; position:absolute; top:476px; left:327px; z-index:3; width:660px; color:#cc3300; font-weight:bold; font-size:11pt; margin:0px; padding:0px;}
#resources_home li {display:inline; float:left; margin:0px; padding:0px; width:164px; height:26px; text-align:center;}
#resources_home a {color:#003399; text-decoration:none; position:relative; top:3px;}
#resources_home a:hover {color:#fff;}
#resources_home li.selected {background-image:url('../images/res_home_selected.png'); background-repeat:no-repeat;}
#resources_home li.selected a {color:#fff;}

#explore_home0 {list-style-type:none; position:absolute; top:91px; left:285px; z-index:3; width:685px; color:#003399; font-weight:bold; font-size:10pt; margin:0px; padding:0px;}
#explore_home0 li {display:inline; float:left; margin:0px; padding:0px; width:171px; height:28px; text-align:center;}
#explore_home0_home li {display:inline; float:left; margin:0px; padding:0px; width:169px; height:28px; text-align:center;}
#explore_home0 a {color:#003399; text-decoration:none; position:relative; top:5px;}
#explore_home0 a:hover {color:#fff;}
#explore_home0 li.selected {background-image:url('../images/expl_selected.png'); background-repeat:no-repeat;}
/*#explore_home0 li.selected_2 {background-image:url('../images/02.png'); background-repeat:no-repeat;}
#explore_home0 li.selected_3 {background-image:url('../images/03.png'); background-repeat:no-repeat;}
#explore_home0 li.selected_4 {background-image:url('../images/04.png'); background-repeat:no-repeat;}*/
#explore_home0 li.selected_image {background-image:url('../images/Images-ro-bg.png'); background-repeat:no-repeat;}
#explore_home0 li.selected a {color:#fff;}
#explore_home0 li.selected_image a {color:#fff;}
#explore_home0 #title {width:158px; position:relative; top:5px;}

#videolinks {list-style-type:none; position:absolute; top:522px; left:535px; z-index:5; margin:0px; padding:0px; display:none;}
#videolinks li {display:inline; float:left; margin:0px; padding:0px; width:62px;}
#videolinks img {border-style:none;}

#videolinks_home {list-style-type:none; position:absolute; top:522px; left:670px; z-index:5; margin:0px; padding:0px;}
#videolinks_home li {display:inline; float:left; margin:0px; padding:0px; width:62px;}
#videolinks_home img {border-style:none;}

#info {position:absolute; top:525px; left:600px; z-index:3; width:360px; height:60px; overflow:auto; font-weight:bold; color:#014080; padding:0px;}

#info_home {position:absolute; top:525px; left:350px; z-index:3; width:300px; height:60px; overflow:auto; font-weight:bold; color:#014080; padding:0px;}

#info_full {position:absolute; top:515px; left:325px; z-index:3; width:635px; height:75px; overflow:auto; font-weight:bold; color:#014080; padding:0px;
scrollbar-3dlight-color:#cccccc; 
scrollbar-arrow-color:#0000cc; 
scrollbar-base-color:#ffffff; 
scrollbar-darkshadow-color:#cccccc; 
scrollbar-face-color:#ffffff; 
scrollbar-highlight-color:#ffffff; 
scrollbar-shadow-color:#ffffff;
}

#linklist li {list-style-type:none; margin:10px 0px 10px -10px; list-style-position:outside; padding:0px;}
#linklist li a{color:#003399; text-decoration:underline;}
#linklist li a:hover {color:#ffffff; text-decoration:none; background:#003399;}
#linklist li.easy {list-style-image:url("../images/bullet_easy.gif");}
#linklist li.medium {list-style-image:url("../images/bullet_medium.gif");}
#linklist li.advanced {list-style-image:url("../images/bullet_advanced.gif");}

#tagcloud {position:absolute; top:522px; left:365px; z-index:5; width:580px; height:80px; ovelflow:auto; font-weight:bold;}
#tagcloud a {text-decoration:none;}
#tagcloud a:hover {text-decoration:underline;}
#tagcloud a.tiny {font-size:10pt; color:#008cce;}
#tagcloud a.small {font-size:11pt; color:#0c4799;}
#tagcloud a.medium {font-size:13pt; color:#ed622b;}
#tagcloud a.big {font-size:15pt; color:#ed622b;}

#button_previous {width:56px; height:22px; position:absolute; top:440px; left:370px; z-index:4;}
#button_previous img {border-style:none;}
#button_next {width:56px; height:22px; position:absolute; top:440px; left:952px; z-index:4;}
#button_next img {border-style:none;}

#share {display:none;left:130px;position:absolute;top:415px; z-index:6;}

#share div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:10pt;padding:2px 0 4px;position:absolute;text-align:left;width:170px;}

#share div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#project_info {display:none;left:65px;position:absolute;top:65px; z-index:6;}

#project_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:470px;}

#project_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#project_link {position:absolute; top:377px; left:5px; z-index:6;}
#project_link a:hover {color:#ef4908;}
#project_link a.selected  a {color:#ff6600;}

#section_date {position:absolute; top:74px; left:800px;}

/*Style for partners info*/
#partenariat {left:0px;position:absolute;top:0px; z-index:7; font-size:110%; font-weight:bold; color:#99CCFF;font-style: italic;}
#supporters {left:250px;position:absolute;top:0px; z-index:3; font-size:110%; font-weight:bold; color:#0C4799;font-style: italic;}
#GRNET {left:90px;position:absolute;top:90px; z-index:3; font-size:136%; font-weight:bold; color:#FFFFFF;}
#GRNET a {color:#FFFFFF;}
#GRNET a:hover {color:#FF6600;}
#EF {left:40px;position:absolute;top:120px; z-index:10; font-size:136%; font-weight:bold;}
#EF a {color:#FFFFFF;}
#EF a:hover {color:#FF6600;}
#FUB {left:90px;position:absolute;top:50px; z-index:3; font-size:136%; font-weight:bold;}
#FUB a {color:#FFFFFF;}
#FUB a:hover {color:#FF6600;}
#FPL {left:5px;position:absolute;top:230px; z-index:3; font-size:136%; font-weight:bold;}
#FPL a {color:#FFFFFF;}
#FPL a:hover {color:#FF6600;}
#UPF {left:50px;position:absolute;top:180px; z-index:3; font-size:136%; font-weight:bold;}
#UPF a {color:#FFFFFF;}
#UPF a:hover {color:#FF6600;}
#EPA {left:435px;position:absolute;top:105px; z-index:3; font-size:136%; font-weight:bold;}
#EPA a {color:#0C4799;}
#EPA a:hover {color:#FF6600;}
#TPCI {left:280px;position:absolute;top:70px; z-index:3; font-size:136%; font-weight:bold;}
#TPCI a {color:#0C4799;}
#TPCI a:hover {color:#FF6600;}
#EEF {left:350px;position:absolute;top:130px; z-index:3; font-size:136%; font-weight:bold;}
#EEF a {color:#0C4799;}
#EEF a:hover {color:#FF6600;}
#ETPE {left:330px;position:absolute;top:220px; z-index:3; font-size:136%; font-weight:bold;}
#ETPE a {color:#0C4799;}
#ETPE a:hover {color:#FF6600;}

#EF_info {display:none;left:465px;position:absolute;top:265px; z-index:6;}
#EF_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:400px;}
#EF_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#GRNET_info {display:none;left:555px;position:absolute;top:265px; z-index:6;}
#GRNET_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:400px;}
#GRNET_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#FPL_info {display:none;left:525px;position:absolute;top:395px; z-index:6;}
#FPL_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:400px;}
#FPL_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#FUB_info {display:none;left:580px;position:absolute;top:225px; z-index:7;}
#FUB_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:400px;}
#FUB_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#UPF_info {display:none;left:530px;position:absolute;top:365px; z-index:7;}
#UPF_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:400px;}
#UPF_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#EPA_info {display:none;left:830px;position:absolute;top:285px; z-index:7;}
#EPA_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:250px;}
#EPA_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#TPCI_info {display:none;left:670px;position:absolute;top:255px; z-index:7;}
#TPCI_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:340px;}
#TPCI_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#EEF_info {display:none;left:730px;position:absolute;top:315px; z-index:7;}
#EEF_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:250px;}
#EEF_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

#ETPE_info {display:none;left:705px;position:absolute;top:405px; z-index:7;}
#ETPE_info div.container {background-color:#FFFFFF;border:1px solid #666666;font-size:8pt;padding:2px 0 4px;position:absolute;text-align:left;width:280px;}
#ETPE_info div.container div#share-sites {margin-left:54px;margin-top:-14px;}

/* FOR THE TAG CLOUD */
.hTagcloud {margin-top:1em;}
.popularity ul {list-style:none; margin-left:0; padding-left:0; line-height:1.8em;}
	.popularity li {display:inline;margin-right:8px;}

	.popular {font-size:100%;}
	.v-popular {font-size:140%;}
	.vv-popular {font-size:180%;}
	.vvv-popular {font-size:220%;}
	.vvvv-popular {font-size:260%;}
	.vvvvv-popular {font-size:270%;}
	.vvvvvv-popular {font-size:280%;}
	.vvvvvvv-popular {font-size:290%;}
	.vvvvvvvv-popular {font-size:300%;}

	.popular a, .popular a:visited {color: #714271;}
	.v-popular a, .v-popular a:visited {color: #714271;}
	.vv-popular a, .vv-popular a:visited {color: #714271;}
	.vvv-popular a, .vvv-popular a:visited {color: #636;}
	.vvvv-popular a, .vvvv-popular a:visited {color: #636;}
	.vvvvv-popular a, .vvvvv-popular a:visited {color: #5D2E5D;}
	.vvvvvv-popular a, .vvvvvv-popular a:visited {color: #5D2E5D;}
	.vvvvvvv-popular a, .vvvvvvv-popular a:visited {color: #5D2E5D;}
	.vvvvvvvv-popular a, .vvvvvvvv-popular a:visited {color: #5D2E5D;}

/* USERS FORM */
#new-user-form {position:relative; top:3px; width: 565px; display:block; padding:2px;border:1px solid #DAE9F6;margin-bottom: 1.8em;}
	#new-user-form fieldset {overflow:hidden; border-width:0;}
	#new-user-form legend {background:transparent;}
	#new-user-form .textinput, #new-user-form select {width:216px; float:left;background:#fff;margin:0;}
	#new-user-form select {width: 226px;}
	#new-user-form label {float:left;width: 104px;text-align:left;margin:0;}
	#new-user-form .field {overflow:hidden;clear:both; margin-bottom:0.1em;}
	#new-user-form .textfield1 {overflow:hidden;clear:both; margin-bottom:0.1em;}
	#new-user-form #entity-type {margin-bottom:1.5em;}

input#institution {margin-bottom: 1.5em;}
.textinput {display:block; border:1px solid #B5D4EC; background:#fff url("../images/textfield-bg.gif") top left no-repeat;padding:4px; width:268px;}

.error {background:#f1c8ba; color:#933; margin:0.5em; font-size:0.7em; padding:0.5em;width:136;}
.field .error {clear:both;}
.error {background-image:url("../../../admin/themes/defualt/images/error.gif");}

/* For jquery paging */
a { text-decoration:none }
.glossary_results{text-align:left; margin-bottom:1px; font-size:9pt;}
#login .theInput {font-family: Verdana;font-size: 9px;width: 90px;margin-right: 5px;height:11px;}
#login .theSubmit {font-family: Verdana;font-size: 9px;background-color: #333333;color: #FFFFFF;margin-right: 5px;}

/* paging */
.active_page{
color:#FF0000;}

#page_navigation {
 position:absolute;
 bottom:2px;
}


/* searcing */
.search_results{

text-align:left;
margin-top:7px;
margin-bottom:1px;
font-size:8pt;
border-bottom:1px solid #0173BA;
width:90%;

}
.search_results div#id1{
padding:3px;
text-align:left;
font-size:10pt;
background:#0173BA;
width:100%;
color: #FFFFFF;

}
.search_results div#id1 a{
color:#FFFFFF;
font-weight: bold;
}


